<html>

  <head>
    <title>{{title}}</title>
    <link
      rel="icon"
      type="image/png"
      href="/stylesheets/stylesheets/favicon.ico"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/font-awesome.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="stylesheets/hamburgers.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/animsition.css" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/select2.css" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/daterangepicker.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/util.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>

  <body>
    {{{body}}}
  </body>
  <!--===============================================================================================-->
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/javascripts/animsition.js"></script>
  <!--===============================================================================================-->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <!--===============================================================================================-->
  <script src="/javascripts/select2.js"></script>
  <!--===============================================================================================-->
  <script src="/javascripts/moment.js"></script>
  <script src="/javascripts/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/javascripts/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/javascripts/main.js"></script>

</html>